
html , body {
    
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-color:rgb(245, 238, 198);
}

.wrapper{
    width: 550px;
    height: 350px;;
    position: absolute;
    left: 30%;
    display: grid;
}

h1{
    place-self: center;
    margin:0;
}

.zone1{
    background-color: rgb(245, 163, 39);
    border-radius: 5px;
    margin-bottom: 5px;
    display: grid;
    
}


.form{
    margin-left: 40px;
    
    align-self: center;
    
}
.remove{
    display: none;
}
.btn{
    margin: 10px;
    margin-left: 180px;
}

table{
    width: 100%;
    text-align: center;
    background-color: rgb(245, 163, 39);
    border-radius: 5px;
    border-collapse: collapse;
}
